<!DOCTYPE html> <html>
    <head><title>It's a Date</title>
    <style tye="text/css">
			h1 {
				font-family: brush script mt;
				font-size: 60pt;
				text-align: center;
				color: white;
			}
			body {
				background-color: #D6C2AD;
			};
		</style>
    </head>
    <body>
        <h1>Choose a Time</h1>
        <form method="post" action="/emailhandler">
            <input value="Day (MM/DD/YYYY)" name="day">
            <input value="Time (HH:MM)" name="time">
            <input type="submit" value="Go big or go home!" >
    	</form> 
	</body>
</html>
