<html>
<head>
	<title>PennApps</title>
	
	<link href="../static/css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
</head>

<body>
	
	<div class = "search-wrapper">
	
		<h1 class = "inline">KEILA <font color="d1473e">&#x2764; </font></h1>
	
		<form method="post" action="" id="search-form" action="/DateHandler">
			<input type = "text" id="friend_search" name="friend_name" value="TYPE YOUR DATE'S NAME">
			<input type="submit" class="submit-button" value="Take 'Em Out" text-align="center">
 		</form>
	
        <script>
            $(document).ready(function() {
                $('#friend_search').autocomplete({
                    source: "/autocomplete",
                });
            });
        </script>
	
	
	
	</div>
	
</body>

</html>