<!DOCTYPE html> <html>
    <head>
        <title>It's a Date</title>
        <style tye="text/css">
			h1 {
				font-family: brush script mt;
				font-size: 60pt;
				text-align: center;
				color: white;
			}
			body {
				background-color: #D6C2AD;
			};
		</style>
    </head>
	<body>
        <div style="width:100%;text-align:center">
            <h1>It's a Date</h1>
            <form method="post" action="/fbauth">
                <input type="submit" value="Log In With Facebook">
            </form> 
		</div>
	</body>
</html>
