<html>
<head>
	<title>PennApps</title>
	<link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class = "bg-box">
			
	<h1><font color="d1473e">&#x2764;</font></h1>
	<h1>IT'S A DATE.</h1>
	<div class = "text-wrapper"><p>Some text about our app here. Texty text text. Blah blah blah. Explanation of why we're awesome.</p></div>
	
	<!-- <div class = "button">Connect with Facebook</div> -->
	<form method="post" action="/fbauth">
        <input type="submit" class="submit-button" value="Log In With Facebook">
    </form>
	
	</div>
	
</body>

</html>