<html>
<head>
	<title>PennApps</title>
	
	<link href="../static/css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
</head>

<body>
	
	<div class = "search-wrapper">
	
		<h1 class = "inline">{{ name }} <font color="d1473e">&#x2764; </font></h1>
	
		<form method="post" id="search-form" action="/DateHandler">
			<input type = "text" id="friend_search" name="friend_name">
			<input type="submit" class="submit-button" value="Take 'Em Out" text-align="center">
 		</form>
	
        <script>
		<!-- http://www.davidjrush.com/blog/2011/10/jquery-creating-a-textbox-text-watermark/ -->
		$(document).ready(function() {
		 var watermark = 'TYPE YOUR DATE\'S NAME';
		 $('#friend_search').blur(function(){
		  if ($(this).val().length == 0)
		    $(this).val(watermark).addClass('watermark');
		 }).focus(function(){
		  if ($(this).val() == watermark)
		    $(this).val('').removeClass('watermark');
		 }).val(watermark).addClass('watermark');
		});

            $(document).ready(function() {
                $('#friend_search').autocomplete({
                    source: "/autocomplete",
                });
            });
        </script>
	
	
	
	</div>
	
</body>

</html>
