<html>
<head>
	<title>PennApps</title>
	<link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	
	<div id="option-header">		
	<h1>Choose your adventure</h1>
	</div>
	
	<div id = "option-wrapper">
		<div class = "option" id="option1">
			<h2>Miya's Sushi</h2>
			<blockquote>Miya's late night is great! Try the firecracker sake.</blockquote>
			<ul>
				<li>Address: </li>
				<li>Hours: </li>
				<li>Phone: </li>
				<li>Website: </li>
			</ul>
		</div>
		
		<div class = "option" id="option2">
			<h2>Criterion Cinema</h2>
		</div>
		
		<div class = "option" id="option3">
			<h2>East Rock Park</h2>
		</div>
		
		<br style = "clear: left;" />
	</div>
	
	<div class = "button">Pencil 'Em In</div>
	
	
</body>

</html>