<html>
<head>
	<title>PennApps</title>
	<link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	
	<div id="option-header">		
	<h1>Choose your adventure</h1>
	</div>
	
	<div id = "option-wrapper">
		<div class = "option" id="option1">
			<h2>{{ name1 }}</h2>
            <blockquote>{{ tip1 }}</blockquote>
			<ul>
                <li>Address: {{ addr1 }} </li>
                <li>Phone: {{ phone1 }}</li>
                <li>Website: {{ web1 }}</li>
			</ul>
		</div>
		
		<div class = "option" id="option2">
			<h2>{{ name2 }}</h2>
            <blockquote>{{ tip2 }}</blockquote>
			<ul>
                <li>Address: {{ addr2 }} </li>
                <li>Phone: {{ phone2 }}</li>
                <li>Website: {{ web2 }}</li>
			</ul>
		</div>
		
		<div class = "option" id="option3">
			<h2>{{ name3 }}</h2>
            <blockquote>{{ tip3 }}</blockquote>
			<ul>
                <li>Address: {{ addr3 }} </li>
                <li>Phone: {{ phone3 }}</li>
                <li>Website: {{ web3 }}</li>
			</ul>
		</div>
		
		<br style = "clear: left;" />
	</div>
	
	<div class = "button">Pencil 'Em In</div>
	
	
</body>

</html>

