<html>
<head>
	<title>PennApps</title>
	
	<link href="../static/css/style.css" rel="stylesheet" type="text/css">
	<link href="../static/css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
</head>

<body>
	
	<div class = "search-wrapper" id="time-wrap">
	
		<h1 class = "inline">Let's meet at </h1>
	
		<form method="post" action="/timehandler" id="search-form">
            <input type = "text" name ="hour" id="hour" class="time" value="HH"><h1 class="accent">:</h1>
            <input type = "text" name="min" id="min" class="time" value="mm">
            <select name="tod" id="tod"> <option value="AM">AM</option> <option value="PM">PM</option></select>
            <h1 class="inline"> on </h1>
			
            <input type = "text" name = "month" id="month" class="time" value="MM"><h1 class="accent">/</h1>
            <input type = "text" name="day" id="day" class="time" value="DD"><h1 class="accent">/</h1>
            <input type = "text" name="year" id="year" class="time" value="YY"><h1 class="inline">.</h1>
			<br><br><br>
            <h1 class="inline">Send an invite to </h1>
            <input type = "text" name="email" id="email" value="email@domain.com">	
            <input type="submit" class="submit-button" id="time-submit" value="It's a Date!" text-align="center">
			
		</form>
	
		<!-- <div class = "button">It's a Date!</div> -->
	
	
	</div>

	
	
<!--	<div id="intertitle2" style="display: none">
		<h3 style="font-family: MuseoSlab; margin-top: 275px; font-size: 36px">Congrats! Your invitation has been sent!</h3>
	</div> -->
        <script>

		/*$(document).ready(function() {
		   $('#time-submit').click(function(){
		     $('#time-wrap').hide();
		  	$('#intertitle2').toggle();
		   });
		}); */
	
	$(document).ready(function() {
	 var watermark = 'HH';
	 $('#hour').blur(function(){
	  if ($(this).val().length == 0)
	    $(this).val(watermark).addClass('watermark');
	 }).focus(function(){
	  if ($(this).val() == watermark)
	    $(this).val('').removeClass('watermark');
	 }).val(watermark).addClass('watermark');
	});
	
	$(document).ready(function() {
	 var watermark = 'mm';
	 $('#min').blur(function(){
	  if ($(this).val().length == 0)
	    $(this).val(watermark).addClass('watermark');
	 }).focus(function(){
	  if ($(this).val() == watermark)
	    $(this).val('').removeClass('watermark');
	 }).val(watermark).addClass('watermark');
	});

       $(document).ready(function() {
	 var watermark = 'MM';
	 $('#month').blur(function(){
	  if ($(this).val().length == 0)
	    $(this).val(watermark).addClass('watermark');
	 }).focus(function(){
	  if ($(this).val() == watermark)
	    $(this).val('').removeClass('watermark');
	 }).val(watermark).addClass('watermark');
	});
	
	$(document).ready(function() {
	 var watermark = 'DD';
	 $('#day').blur(function(){
	  if ($(this).val().length == 0)
	    $(this).val(watermark).addClass('watermark');
	 }).focus(function(){
	  if ($(this).val() == watermark)
	    $(this).val('').removeClass('watermark');
	 }).val(watermark).addClass('watermark');
	});
	
	$(document).ready(function() {
	 var watermark = 'YY';
	 $('#year').blur(function(){
	  if ($(this).val().length == 0)
	    $(this).val(watermark).addClass('watermark');
	 }).focus(function(){
	  if ($(this).val() == watermark)
	    $(this).val('').removeClass('watermark');
	 }).val(watermark).addClass('watermark');
	});
	
	$(document).ready(function() {
	 var watermark = 'email@domain.com';
	 $('#email').blur(function(){
	  if ($(this).val().length == 0)
	    $(this).val(watermark).addClass('watermark');
	 }).focus(function(){
	  if ($(this).val() == watermark)
	    $(this).val('').removeClass('watermark');
	 }).val(watermark).addClass('watermark');
	});
	
    </script>
	
	
	
</body>

</html>
