<html>
<head>
	<title>PennApps</title>
	
	<link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	
	<div class = "search-wrapper">
	
		<h1 class = "inline">Let's meet at </h1>
	
		<form method="post" action="" id="search-form">
			<input type = "text" id="hour" class="time" value="HH"><h1 class="accent">:</h1>
			<input type = "text" id="month" class="time" value="mm"><h1 class="inline"> on </h1>
			
			<input type = "text" id="month" class="time" value="MM"><h1 class="accent">/</h1>
			<input type = "text" id="day" class="time" value="DD"><h1 class="accent">/</h1>
			<input type = "text" id="year" class="time" value="YY"><h1 class="inline">.</h1>
		</form>
	
	</div>

	<div class = "button">It's a Date!</div>
	
	
</body>

</html>